<div class="add-inventory-container delete-inventory-container">
  <h1>Delete Inventory</h1>
  <% var errs = typeof errors !== 'undefined' ? errors : null; %>
  <% if (errs) { %>
    <ul class="notice">
    <% errs.array().forEach(error => { %>
      <li><%- error.msg %></li>
    <%  }) %>
    </ul>
  <% } %>
  
  <p class="delete-warning">Confirm Deletion</p>
  <p><strong>Are you sure you want to delete the following vehicle?</strong></p>
  
  <div class="vehicle-info">
    <p><strong>Make:</strong> <%= locals.inv_make %></p>
    <p><strong>Model:</strong> <%= locals.inv_model %></p>
    <p><strong>Year:</strong> <%= locals.inv_year %></p>
    <p><strong>Price:</strong> $<%= locals.inv_price %></p>
  </div>

  <form action="/inv/delete" method="post">
    <input type="hidden" name="inv_id" value="<%= locals.inv_id %>">
    <input type="hidden" name="inv_make" value="<%= locals.inv_make %>">
    <input type="hidden" name="inv_model" value="<%= locals.inv_model %>">
    <input type="hidden" name="inv_year" value="<%= locals.inv_year %>">
    <input type="hidden" name="inv_price" value="<%= locals.inv_price %>">
    
    <div class="delete-buttons">
      <button type="submit" class="delete-btn">Yes, Delete Vehicle</button>
      <a href="/inv/" class="cancel-btn">No</a>
    </div>
  </form>
</div>
